<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex %>
  </div>

  <div class="field">
    <%= form.label :bday %>
    <%= form.date_field :bday %>
  </div>

  <div class = 'form-group'>
    <%= form.select( :address_id, Address.all.collect {|a| [[a.street, a.subdivision, a.city, a.province, a.region].join(', '), a.id]}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
