<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create New Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<%= form_with(model: student, local: true) do |form| %>
    <div class="modal-body">
        <% if student.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

            <ul>
            <% student.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

        <div class="field">
            <%= form.label :name, "Name:" %>
            <%= form.text_field :name, style: "width: 100%;", required: true %>
        </div>

        <div class="field">
            <%= form.label :sex, "Sex: "%>
            <%= form.radio_button :sex, "Male" %>
            <%= form.label :sex, "Male" %>
            <%= form.radio_button :sex, "Female" %>
            <%= form.label :sex, "Female" %>
            <%#= form.select(:sex, ["Male", "Female"]) %>
        </div>

        <div class="field">
            <%= form.label :bday, "Birthday: " %>
            <%= form.date_field :bday %>
        </div>

        <div class = 'form-group'>
            <%= form.label :address_id, "Address:" %>   
            <%= form.select( :address_id, Address.all.collect {|a| [long_address(a), a.id]}, {}, {style: "width: 100%;"} ) %>
        </div>

        <div class = 'form-group'>
            <%= form.fields_for :year_graduated do |yg| %>
                <div class="row">
                    <div class = 'field col-10'>
                        <%= yg.label :high_school_id, "School:" %>   
                        <%= yg.select( :high_school_id, HighSchool.all.collect {|hs| [hs.name, hs.id]}, {}, {style: "width: 100%;"} ) %>
                    </div>
                    <div class = 'field col-2'>
                        <%= yg.label :year, "Year: " %>   
                        <%= yg.date_select :year, discard_month: true %>
                    </div>
                </div>
            <% end %>
        </div> 
    </div>
    <div class="modal-footer">
        <div class="actions">
            <%= form.submit %>
        </div>
    </div>
<% end %>
    </div>
  </div>
</div>