<div class = "container">
    <ul class="mt-1 nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="students-tab" data-toggle="tab" href="#students" role="tab" aria-controls="students" aria-selected="true">Students</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab" aria-controls="addresses" aria-selected="false">Addresses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="institutions-tab" data-toggle="tab" href="#institutions" role="tab" aria-controls="institutions" aria-selected="false">Institutions</a>
        </li>
    </ul>

  <div class="m-2 tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="students-tab">
        <button type="button" class="btn btn-primary mb-2 mr-2 float-right" data-toggle="modal" data-target="#exampleModal">
            Create New Student
        </button>
        <%= render 'modal', student: @new_student %>
        <table class = "table table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Sex</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Has residence in</th>
                    <th scope="col">Studied in</th>
                    <th scope="col">Batch</th>
                </tr>
            </thead>
            <tbody>
                <% @students.each do |student| %>
                    <tr onclick="$('#exampleModal<%=student.id%>').modal().toggle">
                        <td><%= student.name %></td>
                        <td><%= student.sex %></td>
                        <td><%= student.bday %></td>
                        <td>
                            <%= long_address(student.address) %>
                        </td>
                        <td><%= student.year_graduated.high_school.name %></td>
                        <td><%= student.year_graduated.year.year %></td>
                    </tr>
                    <%= render 'modal_edit', student: student %>
                    
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
        <table class = "table table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Street</th>
                    <th scope="col">Subdivision</th>
                    <th scope="col">City</th>
                    <th scope="col">Province</th>
                    <th scope="col">Region</th>
                </tr>
            </thead>
            <tbody>
                <% @addresses.each do |a| %>
                    <tr>
                        <td><%= a.street %></td>
                        <td><%= a.subdivision %></td>
                        <td><%= a.city %></td>
                        <td><%= a.province %></td>
                        <td><%= a.region %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="institutions" role="tabpanel" aria-labelledby="institutions-tab">
        <table class = "table table-striped table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                <% @high_schools.each do |hs| %>
                    <tr>
                        <td><%= hs.name %></td>
                        <td><%= long_address(hs.address) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
  </div>
</div>
