<%= form_with(model: high_school, local: true) do |form| %>
  <% if high_school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(high_school.errors.count, "error") %> prohibited this high_school from being saved:</h2>

      <ul>
      <% high_school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.number_field :address_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
