<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @high_school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @high_school.address_id %>
</p>

<%= link_to 'Edit', edit_high_school_path(@high_school) %> |
<%= link_to 'Back', high_schools_path %>
