/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

.topbar {
    height: 3em;
    width: 100%;
    background-color: #7b1113;
    color: #ffffff;
}

.text-center {
    color: #696969;
}

.delete_button {
    padding: 0.4em;
    border-radius: 8px;
    background-color: #f44336;
    color: white;
}

.delete_button:hover {background-color: #d83a2e}

.delete_button:active {
  background-color: #d83a2e;
  transform: translateY(4px);
}