<!DOCTYPE html>
<html>
  <head>
    <title>CS165 Phase 4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topbar">
      <div class="container">
        <h1>
          CS165 Phase 4
        </h1>
      </div>
    </div>
    <%= yield %>
    <div class="text-center">
      <h6>Submitted by: Filbert Wee</h6>
    </div>
  </body>
</html>
